body {
    background-color: #F9CB40;
	font-family: "Patrick Hand";
	font-size: 20px;
}

div1 {
    margin: auto;
    width: 50%;
    height: 150px;
    font-size: 45px;
    text-align: center;
}

form {
    margin: auto;
    text-align: center;
    padding-top: 25px;
}

#liczby {
	height: 30px;
	width: 250px;
	border: 1px solid #2D3FFF;
	border-radius: 15px;
	color: #fff;
	font-family: inherit;
	font-size: 25px;
	background: #2D3FFF;
	padding: 15px;
	text-align: center;
}

#przycisk {
	display: block;
	font-family: inherit;
	margin: 15px auto 15px;
	border: 1px solid #2D3FFF;
	border-radius: 15px;
	width: 100px;
	color: #fff;
	font-size: 20px;
	background: #2D3FFF;
}

#podpowiedz {
	display: inline-block;
	position: relative;
}


#podpowiedz:hover span {
	display: block;
    position: fixed;
}

#podpowiedz span {
	background: #2D3FFF;
	color: #fff;
	font-size: 15px;
	width: 175px;
	border-radius: 15px;
	padding: 5px;
	display:none;
}


div3 {
    margin: auto;
    width: 50%;
    text-align: center;
}

 