.wrapper {
  background: red;
  padding: 10px;
}
.hint {
  display: inline-block;
  position: relative;
  span {
    background: #2D3FFF;
    color: #fff;
    font-size: 15px;
    width: 175px;
    border-radius: 15px;
    padding: 5px;
    display:none;
  }
  &:hover {
    span {
      display: block;
      position: fixed;
    }
  }
}
.button {
  display: block;
  font-family: inherit;
  margin: 15px auto 15px;
  border: 1px solid #2D3FFF;
  border-radius: 15px;
  width: 100px;
  color: #fff;
  font-size: 1em;
  background: #2D3FFF;
}
