.wrapper {
  position: relative;
}
.firstSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 40px;
  }
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hintLabelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
