.wrapper {
  background: white;
  padding: 10px;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}