.button {
  display: block;
  font-family: inherit;
  margin: 15px auto 15px;
  border: 1px solid #2D3FFF;
  border-radius: 15px;
  width: 100px;
  color: #fff;
  font-size: 1em;
  background: #2D3FFF;
}