.hint {
  display: inline-block;
  position: relative;
  height: 25px;
  width: 25px;
  background: url('./question.png') center no-repeat;
  background-size: contain;
  span {
    background: #222E50;
    color: #fff;
    font-size: 15px;
    width: 175px;
    border-radius: 15px;
    padding: 5px;
    display:none;
  }
  &:hover {
    span {
      display: block;
      position: fixed;
    }
  }
}
